#banner p {
    text-align: center;
}

#banner p img {
    width: 100%;
    height: 40vh;
    /*fin de la imagen*/
}


/*inicio de los textos*/

#banner .contenedor {
    text-align: center;
    font-size: x-large;
    color: white;
    padding: auto;
}

#descripcion {
    padding-top: 10px;
    text-align: center;
}